backend-server/node-red/flows.json
[
  {
    "id": "mqtt-broker-tls-001",
    "type": "mqtt-broker",
    "name": "MQTT Broker TLS",
    "broker": "mqtt-broker",
    "port": "8883",
    "clientid": "node-red-iot",
    "autoConnect": true,
    "usetls": true,
    "useSelfSigned": true,
    "tlsVersion": "tlsv1.2",
    "cafile": "/data/certs/ca.crt",
    "certfile": "/data/certs/server.crt",
    "keyfile": "/data/certs/server.key",
    "compatMode": true,
    "keepalive": 60,
    "cleansession": true
  },
  {
    "id": "influxdb-config-001",
    "type": "influxdb",
    "hostname": "influxdb",
    "port": "8086",
    "database": "iot",
    "name": "InfluxDB Local"
  },
  {
    "id": "mqtt-in-node-001",
    "type": "mqtt in",
    "topic": "meshtastic/mesh/collserola/message",
    "qos": "1",
    "datatype": "auto",
    "broker": "mqtt-broker-tls-001",
    "nl": false,
    "rap": true,
    "rh": 0,
    "name": "MQTT JSON in",
    "x": 100,
    "y": 100,
    "wires": [["parse-json-node-001"]]
  },
  {
    "id": "parse-json-node-001",
    "type": "json",
    "name": "Parse JSON",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 300,
    "y": 100,
    "wires": [["check-valid-node-001", "debug-json-001"]]
  },
  {
    "id": "check-valid-node-001",
    "type": "switch",
    "name": "Check Valid",
    "property": "payload.temperature",
    "propertyType": "msg",
    "rules": [
      {
        "t": "exists"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 500,
    "y": 100,
    "wires": [["influxdb-node-001", "debug-valid-001"]]
  },
  {
    "id": "influxdb-node-001",
    "type": "influxdb out",
    "influxdb": "influxdb-config-001",
    "measurement": "collserola_sensors",
    "tags": "sensor=collserola",
    "fields": "temperature,humidity,pressure",
    "timestamp": "",
    "database": "iot",
    "name": "To InfluxDB",
    "x": 700,
    "y": 100,
    "wires": []
  },
  {
    "id": "debug-json-001",
    "type": "debug",
    "name": "Debug JSON",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 300,
    "y": 200,
    "wires": []
  },
  {
    "id": "debug-valid-001",
    "type": "debug",
    "name": "Debug Valid",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 700,
    "y": 200,
    "wires": []
  }
]
