backend-server/k8s-services-iot/iot/nodered-flows.json
[{"id": "flow1", "type": "tab", "label": "ChirpStack \u2192 InfluxDB", "disabled": false, "info": ""}, {"id": "flow2", "type": "tab", "label": "APIs NASA / Meteo", "disabled": false, "info": ""}, {"id": "broker1", "type": "mqtt-broker", "name": "Mosquitto", "broker": "mosquitto", "port": "1883", "clientid": "nodered-firesense", "autoConnect": true, "usetls": false, "protocolVersion": 4, "keepalive": 60, "cleansession": true}, {"id": "influx1", "type": "influxdb", "hostname": "influxdb", "port": "8086", "protocol": "http", "name": "InfluxDB FireSense", "usetls": false, "influxdbVersion": "2.0", "url": "http://influxdb:8086", "rejectUnauthorized": false, "organization": "firesense", "bucket": "sensors", "token": "firesense-influx-token-2026"}, {"id": "mqtt1", "type": "mqtt in", "z": "flow1", "name": "ChirpStack MQTT", "topic": "application/+/device/+/event/up", "qos": "0", "broker": "broker1", "x": 120, "y": 120, "wires": [["parse1"]]}, {"id": "parse1", "type": "function", "z": "flow1", "name": "Parse RAK payload", "func": "var data=msg.payload;\nvar obj=data.object||{};\nmsg.payload=[{measurement:'sensors',tags:{device:data.deviceInfo?data.deviceInfo.devEui:'unknown',name:data.deviceInfo?data.deviceInfo.deviceName:'unknown'},fields:{temperature:obj.temperatura||obj.temperature||0,humidity:obj.humedad_aire||obj.humidity||0,soil:obj.humedad_suelo||obj.soil||0,battery_mv:obj.bateria_mv||0,battery_pct:obj.bateria_pct||0},timestamp:new Date()}];\nreturn msg;", "outputs": 1, "x": 340, "y": 120, "wires": [["influx-out1", "debug1"]]}, {"id": "influx-out1", "type": "influxdb out", "z": "flow1", "name": "InfluxDB sensors", "influxdb": "influx1", "measurement": "sensors", "x": 560, "y": 100, "wires": []}, {"id": "debug1", "type": "debug", "z": "flow1", "name": "Debug", "active": true, "x": 560, "y": 140, "wires": []}, {"id": "firms-in", "type": "http in", "z": "flow2", "url": "/firms/active", "method": "get", "x": 140, "y": 60, "wires": [["firms-fn"]]}, {"id": "firms-fn", "type": "function", "z": "flow2", "name": "FIRMS fetch", "func": "const key='NASA_FIRMS_KEY';\nconst days=msg.req.query.days||1;\nconst bbox=msg.req.query.bbox||'1.5,41.2,2.5,41.7';\nconst url=`https://firms.modaps.eosdis.nasa.gov/api/area/csv/${key}/VIIRS_SNPP_NRT/${bbox}/${days}`;\nmsg.url=url;\nreturn msg;", "outputs": 1, "x": 340, "y": 60, "wires": [["firms-req"]]}, {"id": "firms-req", "type": "http request", "z": "flow2", "method": "GET", "ret": "txt", "x": 540, "y": 60, "wires": [["firms-out"]]}, {"id": "firms-out", "type": "http response", "z": "flow2", "headers": {"content-type": "text/csv", "access-control-allow-origin": "*"}, "x": 720, "y": 60, "wires": []}, {"id": "power-in", "type": "http in", "z": "flow2", "url": "/nasa-power", "method": "get", "x": 140, "y": 120, "wires": [["power-fn"]]}, {"id": "power-fn", "type": "function", "z": "flow2", "name": "POWER fetch", "func": "var lat=msg.req.query.lat||'41.45';\nvar lng=msg.req.query.lng||'2.18';\nvar end=new Date();end.setDate(end.getDate()-2);\nvar start=new Date();start.setDate(start.getDate()-30);\nfunction fmt(d){return d.getFullYear()+String(d.getMonth()+1).padStart(2,'0')+String(d.getDate()).padStart(2,'0');}\nmsg.url='https://power.larc.nasa.gov/api/temporal/daily/point?parameters=T2M,T2M_MAX,T2M_MIN,RH2M,WS10M,ALLSKY_SFC_SW_DWN&community=RE&longitude='+lng+'&latitude='+lat+'&start='+fmt(start)+'&end='+fmt(end)+'&format=JSON';\nreturn msg;", "outputs": 1, "x": 340, "y": 120, "wires": [["power-req"]]}, {"id": "power-req", "type": "http request", "z": "flow2", "method": "GET", "ret": "txt", "x": 540, "y": 120, "wires": [["power-out"]]}, {"id": "power-out", "type": "http response", "z": "flow2", "headers": {"content-type": "application/json", "access-control-allow-origin": "*"}, "x": 720, "y": 120, "wires": []}, {"id": "gencat-in", "type": "http in", "z": "flow2", "url": "/nasa-eonet", "method": "get", "x": 140, "y": 180, "wires": [["gencat-fn"]]}, {"id": "gencat-fn", "type": "function", "z": "flow2", "name": "GENCAT fetch", "func": "var url='https://analisi.transparenciacatalunya.cat/resource/9r29-e8ha.json?$limit=20&$order=data_incendi+DESC&$where=comarca=%27Barcelon%C3%A8s%27+OR+comarca=%27Baix+Llobregat%27+OR+comarca=%27Vall%C3%A8s+Occidental%27+OR+comarca=%27Vall%C3%A8s+Oriental%27+OR+comarca=%27Maresme%27+OR+comarca=%27Garraf%27';\nmsg.url=url;\nreturn msg;", "outputs": 1, "x": 340, "y": 180, "wires": [["gencat-req"]]}, {"id": "gencat-req", "type": "http request", "z": "flow2", "method": "GET", "ret": "txt", "x": 540, "y": 180, "wires": [["gencat-out"]]}, {"id": "gencat-out", "type": "http response", "z": "flow2", "headers": {"content-type": "application/json", "access-control-allow-origin": "*"}, "x": 720, "y": 180, "wires": []}, {"id": "aemet-in", "type": "http in", "z": "flow2", "url": "/aemet", "method": "get", "x": 140, "y": 240, "wires": [["aemet-fn"]]}, {"id": "aemet-fn", "type": "function", "z": "flow2", "name": "AEMET fetch", "func": "msg.url='https://opendata.aemet.es/opendata/api/prediccion/especifica/municipio/horaria/08019?api_key=AEMET_API_KEY';\nreturn msg;", "outputs": 1, "x": 340, "y": 240, "wires": [["aemet-req1"]]}, {"id": "aemet-out", "type": "http response", "z": "flow2", "headers": {"content-type": "application/json", "access-control-allow-origin": "*"}, "x": 820, "y": 240, "wires": []}, {"id": "meteo-in", "type": "http in", "z": "flow2", "url": "/open-meteo", "method": "get", "x": 140, "y": 300, "wires": [["meteo-fn"]]}, {"id": "meteo-fn", "type": "function", "z": "flow2", "name": "Open-Meteo fetch", "func": "var lat=msg.req.query.lat||'41.45';\nvar lng=msg.req.query.lng||'2.18';\nmsg.url='https://api.open-meteo.com/v1/forecast?latitude='+lat+'&longitude='+lng+'&current=temperature_2m,relative_humidity_2m,wind_speed_10m,wind_direction_10m,precipitation,weather_code,apparent_temperature&daily=temperature_2m_max,temperature_2m_min,precipitation_sum,wind_speed_10m_max&timezone=Europe/Madrid&forecast_days=7';\nreturn msg;", "outputs": 1, "x": 360, "y": 300, "wires": [["meteo-req"]]}, {"id": "meteo-req", "type": "http request", "z": "flow2", "method": "GET", "ret": "txt", "x": 560, "y": 300, "wires": [["meteo-out"]]}, {"id": "meteo-out", "type": "http response", "z": "flow2", "headers": {"content-type": "application/json", "access-control-allow-origin": "*"}, "x": 720, "y": 300, "wires": []}, {"id": "openaq-in", "type": "http in", "z": "flow2", "url": "/open-aq", "method": "get", "x": 140, "y": 360, "wires": [["openaq-fn"]]}, {"id": "openaq-fn", "type": "function", "z": "flow2", "name": "OpenAQ fetch", "func": "var lat=msg.req.query.lat||'41.45';\nvar lng=msg.req.query.lng||'2.18';\nmsg.url='https://api.openaq.org/v3/locations?coordinates='+lat+','+lng+'&radius=25000&limit=10';\nmsg.headers={'X-API-Key':'OPENAQ_API_KEY'};\nreturn msg;", "outputs": 1, "x": 340, "y": 360, "wires": [["openaq-req"]]}, {"id": "openaq-req", "type": "http request", "z": "flow2", "method": "GET", "ret": "txt", "x": 540, "y": 360, "wires": [["openaq-out"]]}, {"id": "openaq-out", "type": "http response", "z": "flow2", "headers": {"content-type": "application/json", "access-control-allow-origin": "*"}, "x": 720, "y": 360, "wires": []}, {"id": "wind-in", "type": "http in", "z": "flow2", "url": "/wind-grid", "method": "get", "x": 140, "y": 420, "wires": [["wind-fn"]]}, {"id": "wind-fn", "type": "function", "z": "flow2", "name": "Wind Grid fetch", "func": "var points=[];\nfor(var lat=41.1;lat<=41.9;lat+=0.13){for(var lng=1.6;lng<=2.8;lng+=0.17){points.push({lat:lat.toFixed(2),lng:lng.toFixed(2)});}}\nmsg.url='https://api.open-meteo.com/v1/forecast?latitude='+points.map(p=>p.lat).join(',')+'&longitude='+points.map(p=>p.lng).join(',')+'&current=wind_speed_10m,wind_direction_10m&timezone=Europe/Madrid&forecast_days=1';\nmsg.points=points;\nreturn msg;", "outputs": 1, "x": 360, "y": 420, "wires": [["wind-req"]]}, {"id": "wind-req", "type": "http request", "z": "flow2", "method": "GET", "ret": "txt", "x": 540, "y": 420, "wires": [["wind-out2"]]}, {"id": "wind-out2", "type": "http response", "z": "flow2", "headers": {"content-type": "application/json", "access-control-allow-origin": "*"}, "x": 720, "y": 420, "wires": []}, {"id": "ndvi-in", "type": "http in", "z": "flow2", "url": "/nasa-ndvi", "method": "get", "x": 140, "y": 480, "wires": [["ndvi-fn"]]}, {"id": "ndvi-fn", "type": "function", "z": "flow2", "name": "NDVI fetch", "func": "var lat=msg.req.query.lat||'41.45';\nvar lng=msg.req.query.lng||'2.18';\nvar now=new Date();\nvar year=now.getFullYear();\nvar jan1=new Date(year,0,1);\nvar doy=Math.ceil((now.getTime()-jan1.getTime())/86400000);\nvar startDoy=Math.max(1,doy-64);\nfunction pad(n){return String(n).padStart(3,'0');}\nmsg.url='https://modis.ornl.gov/rst/api/v1/MOD13Q1/subset?latitude='+lat+'&longitude='+lng+'&startDate=A'+year+pad(startDoy)+'&endDate=A'+year+pad(doy)+'&kmAboveBelow=0&kmLeftRight=0';\nreturn msg;", "outputs": 1, "x": 340, "y": 480, "wires": [["ndvi-req"]]}, {"id": "ndvi-req", "type": "http request", "z": "flow2", "method": "GET", "ret": "txt", "x": 540, "y": 480, "wires": [["ndvi-out"]]}, {"id": "ndvi-out", "type": "http response", "z": "flow2", "headers": {"content-type": "application/json", "access-control-allow-origin": "*"}, "x": 720, "y": 480, "wires": []}, {"id": "aemet-req1", "type": "http request", "z": "flow2", "name": "AEMET req1", "method": "GET", "ret": "obj", "x": 500, "y": 240, "wires": [["aemet-parse"]]}, {"id": "aemet-parse", "type": "function", "z": "flow2", "name": "AEMET parse dataUrl", "func": "if (msg.payload && msg.payload.datos) {\n    msg.url = msg.payload.datos;\n    return msg;\n} else {\n    msg.payload = JSON.stringify({error: 'no datos url'});\n    return [null, msg];\n}", "outputs": 1, "x": 680, "y": 240, "wires": [["aemet-req2"]]}, {"id": "aemet-req2", "type": "http request", "z": "flow2", "name": "AEMET req2", "method": "GET", "ret": "txt", "x": 860, "y": 240, "wires": [["aemet-parse2"]]}, {"id": "aemet-parse2", "type": "function", "z": "flow2", "name": "AEMET format", "func": "try {\n    const text = msg.payload;\n    const d = JSON.parse(text);\n    const pred = d[0].prediccion.dia[0];\n    const now = new Date();\n    const hora = String(now.getHours()).padStart(2,'0');\n    const cel = pred.estadoCielo.find(x=>x.periodo===hora)||pred.estadoCielo[0];\n    const temp = pred.temperatura.find(x=>x.periodo===hora)||pred.temperatura[0];\n    const prec = pred.precipitacion.find(x=>x.periodo===hora)||pred.precipitacion[0];\n    const humitat = pred.humedadRelativa.find(x=>x.periodo===hora)||pred.humedadRelativa[0];\n    msg.payload = JSON.stringify({\n        municipi: d[0].nombre, data: pred.fecha, hora: hora+'h',\n        cel: cel?cel.descripcion:'-',\n        temperatura: temp?temp.value+'\u00b0C':'-',\n        precipitacion: prec?prec.value+' mm':'-',\n        humitat: humitat?humitat.value+'%':'-'\n    });\n} catch(e) { msg.payload = JSON.stringify({error: e.message}); }\nreturn msg;", "outputs": 1, "x": 1040, "y": 240, "wires": [["aemet-out"]]}]